.header {
  opacity: 0.8;
  background-color: #229954;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.header__img {
  margin: 0 auto;
  width: 120px;
}

.Nav {
  margin: 0 auto;
}

.nav__navitem {
  margin: 0px 25px;
}

.nav__navitem > a {
  text-decoration: none;
  color: whitesmoke;
}
